body {

    background-color: darksalmon;

}

table, tr, td{
    background-color: khaki;
    text-align: center;
}

#td1:hover {
    background-color:yellow;  
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(179, 90, 63);
}

h2 {
    text-align: center;
    color:rgb(179, 90, 63);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2:hover {
    color: yellow;
}