.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color:teal;
    height: 100%;
    width: 500px; 
    text-align: center;
}

.sidebar h1{
    text-align: right;
    margin: 50px;
}
.sidebar a{
    color: rgb(0, 199, 199);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.sidebar a:hover{
    color: rgb(61, 253, 253);

}

body {

    background-color: rgb(122, 218, 202);

}


table, tr, td{
    background-color: khaki;
    text-align: center;
}

#td1:hover {
    background-color:violet;  
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(179, 90, 63);
}

h2 {
    text-align: center;
    color:rgb(207, 118, 91);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2:hover {
    color: yellow;
}