body {

    background-color: darksalmon;

}

table{
    background-color: khaki;

}

#td1:hover {
    background-color:yellow;  
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(179, 90, 63);
}
ol {
    color: rgb(179, 90, 63);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2, h3 {
    text-align: center;
    color:rgb(179, 90, 63);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    color:rgb(112, 64, 51);
}
table {
    background-color: khaki;
}
h2:hover, h3:hover {
    color: yellow;
}