

.safari td{
  width: auto;
}
.schrollbar {
  height:350px;
  width:100%;
  overflow:auto;
  background-color:#F8C275;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding:10px;
  scrollbar-width: none;
  scrollbar-color:  #d64674;
}

.schrollbar h1{
  color: #d64674;
  text-shadow: #fff;
}
img{
  max-width: 100%;
  height:auto;
}

.border{
  border: 5px solid #F8C275;
}

.sidebar header{
text-align: center;

}
.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 5.2%;
  background-color: #27273A;
  height: 100%;
  width: 10.3%;
}

.sidebar hr{
  width: 80%;
  height: 2px;
  border-color: #F36F98;
  background-color: #F36F98;
}

.sidebar h1{
  text-align: right;
  margin: 20px;
}
.sidebar a{
  color: #F8C275;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50%;

}

.sidebar a:hover{
  color: rgb(61, 253, 253);

}

body {
  background-image: url(pictures/wether.gif);
  background-attachment: fixed;
  margin-top: 0;
}

.main {
  /* height: 100%; */
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(61, 253, 253, 0.8);
  color:#27273A;
  font-size: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top: 0;
  bottom: 0;
  left: 5.2%;
  height: 100%;
}
.main p{
  color:  #d64674;
  text-justify: auto;
  text-align: left;
}
.main a{
  color: #27273A;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

.picture_frames img {
  height: 400px;
  width: 300px;

}

.main img {
  height: auto;
  width: auto;

}

.main h1{
margin-top: 0;
}

.main hr{
width: 100%;
height: 2px;
border-color: #F36F98;
background-color: #F36F98;
}

.main a:hover {
color:#F8C275;
}

.main {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  0% {
    opacity:0;
  }
}

.main .profilet td {
  vertical-align: text-top;
}

.text{
  margin-left: 1%;
  margin-right: 5%;
  align-content: center;
}

.main .text .indext img{
  width: 100%;
  height: auto;
}

.main .text .indext td{
  width: 50%;
  padding: 1%;
}

.main .text .indext iframe{
  width: 100%;
  padding: 1%;
}

.main .text .indext tfoot{
  margin-left: 100%;

}

.main strong{
  background-color: #F8C275;
}

.main .text .indext h2{
  color:  #d64674;
}

.study td {
width: 16.6%;
text-align: center;
border: 1px solid teal;
padding: 0;
margin: 0;
background-color: #d64674;
}

.study table{
text-align: center;
border: 5px solid teal;
padding: 0;
background-color:teal;
}

.study p{
color:#F8C275;
text-align: center;
}
.study h1{
text-shadow: none;
}







* {
box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 40%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Container for image text */
.caption-container {
text-align: center;
background-color: #222;
padding: 2px 16px;
color: white;
}

.row:after {
content: "";
display: table;
clear: both;
}

/* Six columns side by side */
.column {
float: left;
width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}


.slideshow {
  box-sizing: border-box;
  
}

.slideshow img{
  height: auto;

}




@media (max-width: 1400px) {
.sidebar{
width: 70%;
position:relative;
left: 15%;
right: 15%;
}

.sidebar img{
width: 25%;
height: 25%;
}

.sidebar .logo{
width: 10%;
height: 10%;
}

.sidebar td {
text-align: center;
}

.sidebar h1{
font-size: em;
text-align: center;;
}
body {
background-image: url(pictures/forest.jpeg);
background-attachment: fixed;
}

.sidebar .column2 {
float: left;
width: 25%;
}

.sidebar .row2:after {
content: "";
display: table;
clear: both;
}
.main {
position: relative;
left:-0.06%;
}
}







@media (max-width:400px) {
.sidebar h1{
  font-size: 1.5em;
  text-align: center;;
}
.main {
  margin-right: 5%;
  margin-left: 5%;
  font-size: 0.5em;
}

.sidebar img{
  width: 20%;
  height: 20%;
}
.sidebar {
 width: 90%;
 left: 5%;
}

.main img {
height: 300px;
width: 200px;

}
}

@media (max-width:380px) {
.sidebar h1{
  font-size:1em;
  text-align: center;;
}
.main {
  margin-right: 5%;
  margin-left: 5%;
  font-size: 0.9em;
}
.sidebar img{
  width: 20%;
  height: 20%;
}
.sidebar {
 width: 90%;
 left: 5%;
}
.main img {
  height: 200px;
  width: 100px;
}
}
footer{
  text-align: center;
  color:#F36F98;
}



.progress {
width: 20%;
height: 20px;
margin: 0 0 5px 0;
background: #fff;

}

#myProgress {
width: 100%;
background-color:teal;
}
#myBar {
width: 0%;
height: 30px;
background-color:#F8C275;
text-align: center;
line-height: 30px;
color: #d64674;
}

.safari td{
  width: 33%;
}

.comp {
  width: 30%;

}

.parallax {
  background-image: url("pictures/me_profile.png");

  min-height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0%;
  background-position-x: center;
}

.parallax2 {
  background-image: url("pictures/me_home.png");

  min-height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0%;
  background-position-x: center;
}

.parallax3 {
  background-image: url("pictures/me_profession.png");

  min-height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0%;
  background-position-x: center;
}

.parallax4 {
  background-image: url("pictures/me_motivation.png");

  min-height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0%;
  background-position-x: center;
}

.parallax5 {
  background-image: url("pictures/me_faq.png");

  min-height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0%;
  background-position-x: center;
}

.parallax6 {
  background-image: url("pictures/me_dash.png");

  min-height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0%;
  background-position-x: center;
}

#column_color {
  color: #d64674;
}


#zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#zoom:hover {
  transform: scale(1.5); 
}