.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color:teal;
    height: 100%;
    width: 500px; 
    text-align: center;
}

.sidebar h1{
    text-align: right;
    margin: 50px;
}
.sidebar a{
    color: rgb(0, 199, 199);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.sidebar a:hover{
    color: rgb(61, 253, 253);

}

.main {
    max-width: 800px;
    background-color: rgb(122, 218, 202);
}