.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color:teal;
    height: 100%;
    width: 500px; 
    text-align: center;
}

.sidebar h1{
    text-align: right;
    margin: 50px;
}
.sidebar a{
    color: rgb(0, 199, 199);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;

}

.sidebar a:hover{
    color: rgb(61, 253, 253);

}

body {

    background-color: rgb(122, 218, 202);

}
table{
    background-color: khaki;

}

#td1:hover {
    background-color:violet;  
}
ol {
    color: rgb(179, 90, 63);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2, h3 {
    text-align: center;
    color:rgb(179, 90, 63);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    color:rgb(112, 64, 51);
}
table {
    background-color: khaki;
}
h2:hover, h3:hover {
    color: yellow;
    background-color: violet;
}
body {

    background-color: rgb(122, 218, 202);
}
.main {
    margin-left: 25%;
    margin-right: 20%;
    font-size: 2em;
}

.main {
    color:rgb(6, 95, 95);
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main p{
    color: teal;
}