.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color:teal;
    height: 100%;
    width: 500px; 
    text-align: center;
}

.sidebar h1{
    text-align: right;
    margin: 50px;
}
.sidebar a{
    color: rgb(0, 199, 199);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;

}

.sidebar a:hover{
    color: rgb(61, 253, 253);

}

body {

    background-color: rgb(122, 218, 202);

}
body {

    background-color: rgb(122, 218, 202);
}
.main {
    margin-left: 25%;
    margin-right: 20%;
    font-size: 2em;
}

.main {
    color:rgb(6, 95, 95);
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main p{
    color: teal;
}

.main a{
    color: teal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    
      

}
.main img {
    height: 500px;
    width: 300px;
    transition: width 1s, height 1s;
}
.main img:hover {
    height: 700px;
    width: 500px;
  }
.main {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    0% {
      opacity:0;
    }
}


